<!-- 문의하기 및 파일 업로드 통합 폼 -->
<h3>위험 사항 업로드</h3>
<form action="/upload_file" method="post" enctype="multipart/form-data">
    <ul>
        <li>파일 선택 :<br>
        <input type="file" name="file" accept="image/*,video/*"></li>
        <button type="submit">제출하기</button>
    </ul>
</form>